.play-arena-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__controllers {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__slider {
      width: 4rem;
    }
  }
}